.header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  font-size: 400%;
  text-align: center;
  outline: 100px bold green;
  color: red;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  text-shadow: 0px 0px 10px #ff0404, 0px 0px 10px #ff0404, 0px 0px 10px #ff0404, 0px 0px 10px #ff0404;
  -webkit-transition: 1s;
  transition: 1s;
  border-style: solid;
  background-image: url("grey2.png");
}

.header1:hover {
  text-shadow: 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #ff0707;
}

.header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  font-size: 10vw;
  text-align: center;
  outline: 100px bold green;
  color: #39ff07;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  text-shadow: 0px 0px 10px #08fd00, 0px 0px 10px #08fd00, 0px 0px 10px #08fd00;
  -webkit-transition: 1s;
  transition: 1s;
  border-style: solid;
  background-image: radial-gradient(circle at 50%, rgba(0, 162, 255, 0.959), black);
  background-image: url("grey2.png");
}

.header2:hover {
  text-shadow: 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #080000;
}

#heading-2 {
  background-color: red;
  font-size: 30px;
  text-align: center;
  color: black;
  font-variant-caps: all-petite-caps;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}

.header3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  font-size: 10vw;
  text-align: center;
  outline: 100px bold green;
  color: rgba(0, 17, 255, 0.979);
  border-width: 5px;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  text-shadow: 0px 0px 10px #1707ff, 0px 0px 10px #1707ff, 0px 0px 10px #1707ff;
  -webkit-transition: 1s;
  transition: 1s;
  border-style: solid;
  background-image: radial-gradient(circle at 50%, rgba(0, 162, 255, 0.959), black);
  background-image: url("grey2.png");
}

.header3:hover {
  text-shadow: 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #0400ff;
}

.header4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  font-size: 10vw;
  text-align: center;
  outline: 100px bold green;
  color: rgba(255, 255, 255, 0.979);
  border-width: 5px;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
  -webkit-transition: 1s;
  transition: 1s;
  border-style: solid;
  background-image: radial-gradient(circle at 50%, rgba(0, 162, 255, 0.959), black);
  background-image: url("grey2.png");
}

.header4:hover {
  text-shadow: 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.header5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  font-size: 10vw;
  text-align: center;
  outline: 100px bold green;
  color: #fffb00;
  border-width: 5px;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  text-shadow: 0px 0px 10px #fffb00, 0px 0px 10px #fffb00, 0px 0px 10px #fffb00;
  -webkit-transition: 1s;
  transition: 1s;
  border-style: solid;
  background-image: radial-gradient(circle at 50%, rgba(0, 162, 255, 0.959), black);
  background-image: url("grey2.png");
}

.header5:hover {
  text-shadow: 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fffb00;
}

.header6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  font-size: 10vw;
  text-align: center;
  outline: 100px bold green;
  color: #d400ff;
  border-width: 5px;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
  border-style: solid;
  text-shadow: 0px 0px 10px #d400ff, 0px 0px 10px #d400ff, 0px 0px 10px #d400ff;
  -webkit-transition: 1s;
  transition: 1s;
  border-style: solid;
  background-image: radial-gradient(circle at 50%, rgba(0, 162, 255, 0.959), black);
  background-image: url("grey2.png");
}

.header6:hover {
  text-shadow: 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000, 0px 0px 50px #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #d400ff;
}
/*# sourceMappingURL=heading.css.map */