#img1 {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #fd0000;
          box-shadow: 10px 10px 100px #fd0000;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img1:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
          box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img2 {
  padding: 1px;
  width: 100%;
  border-radius: 10% 10% 10% 10%;
  -webkit-box-shadow: 10px 10px 100px rgba(255, 255, 255, 0.952);
          box-shadow: 10px 10px 100px rgba(255, 255, 255, 0.952);
  overflow: hidden;
  border-width: auto;
  border-color: black;
  border-style: solid;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

#img2:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 100px #3cff00, 10px 10px 100px #3cff00, 10px 10px 100px #3cff00;
          box-shadow: 10px 10px 100px #3cff00, 10px 10px 100px #3cff00, 10px 10px 100px #3cff00;
  overflow: hidden;
}

#img3 {
  padding: 1px;
  width: 60%;
  border-radius: 5% 5% 5% 5%;
  -webkit-box-shadow: 10px 10px 100px red;
          box-shadow: 10px 10px 100px red;
  overflow: hidden;
  border-width: auto;
  border-color: black;
  border-style: solid;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  -webkit-transition: 1s;
  transition: 1s;
}

#img3:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
          box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
  overflow: hidden;
}

#img7greencover {
  padding: 1px;
  width: 60%;
  border-radius: 5% 5% 5% 5%;
  -webkit-box-shadow: 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00;
  overflow: hidden;
  border-width: auto;
  border-color: black;
  border-style: solid;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  -webkit-transition: 1s;
  transition: 1s;
}

#img7greencover:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
          box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
  overflow: hidden;
}

#img6bluecover {
  padding: 1px;
  width: 60%;
  border-radius: 5% 5% 5% 5%;
  -webkit-box-shadow: 10px 10px 100px #0011fd;
          box-shadow: 10px 10px 100px #0011fd;
  overflow: hidden;
  border-width: auto;
  border-color: black;
  border-style: solid;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  -webkit-transition: 1s;
  transition: 1s;
}

#img6bluecover:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 100px #0011fd, 10px 10px 100px #0011fd, 10px 10px 100px #0011fd;
          box-shadow: 10px 10px 100px #0011fd, 10px 10px 100px #0011fd, 10px 10px 100px #0011fd;
  overflow: hidden;
}

#img6whitecover {
  padding: 1px;
  width: 60%;
  border-radius: 5% 5% 5% 5%;
  -webkit-box-shadow: 10px 10px 100px white;
          box-shadow: 10px 10px 100px white;
  overflow: hidden;
  border-width: auto;
  border-color: black;
  border-style: solid;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  -webkit-transition: 1s;
  transition: 1s;
}

#img6whitecover:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.9;
  -webkit-box-shadow: 10px 10px 100px white, 10px 10px 100px white, 10px 10px 100px white;
          box-shadow: 10px 10px 100px white, 10px 10px 100px white, 10px 10px 100px white;
  overflow: hidden;
}

#img4 {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #fd0000;
          box-shadow: 10px 10px 100px #fd0000;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img4:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
          box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img4green {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img4green:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
          box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img4blue {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #0004fd;
          box-shadow: 10px 10px 100px #0004fd;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img4blue:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
          box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img4white {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px white;
          box-shadow: 10px 10px 100px white;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img4white:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
          box-shadow: 10px 10px 100px #d300fd, 10px 10px 100px #d300fd, 10px 10px 100px #d300fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img5 {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #fd0000;
          box-shadow: 10px 10px 100px #fd0000;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

#img5:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
          box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img5green {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img5green:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
          box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img5blue {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #0400fd;
          box-shadow: 10px 10px 100px #0400fd;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img5blue:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
          box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img5white {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px white;
          box-shadow: 10px 10px 100px white;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

#img5white:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
          box-shadow: 10px 10px 100px #fde400, 10px 10px 100px #fde400, 10px 10px 100px #fde400;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img6 {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #fd0000;
          box-shadow: 10px 10px 100px #fd0000;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img6:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
          box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img6green {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img6green:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
          box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img6blue {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #0026fd;
          box-shadow: 10px 10px 100px #0026fd;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img6blue:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
          box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img6white {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px white;
          box-shadow: 10px 10px 100px white;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img6white:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
          box-shadow: 10px 10px 100px #0026fd, 10px 10px 100px #0026fd, 10px 10px 100px #0026fd;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img7 {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #fd0000;
          box-shadow: 10px 10px 100px #fd0000;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img7:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img7green {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img7green:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img7blue {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px #0011fd;
          box-shadow: 10px 10px 100px #0011fd;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img7blue:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

#img7white {
  margin: 10% 20% 10% 20%;
  padding: 10px;
  width: 100%;
  border-radius: 25% 25%;
  -webkit-box-shadow: 10px 10px 100px white;
          box-shadow: 10px 10px 100px white;
  opacity: 0.9;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden;
}

#img7white:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
  -webkit-box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
          box-shadow: 10px 10px 100px #08fd00, 10px 10px 100px #08fd00, 10px 10px 100px #08fd00;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}
/*# sourceMappingURL=images.css.map */