.p1 {
  font-size: 200%;
  border: 2px solid red;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  background-color: white;
  text-shadow: 10px 10px 10px #1d04ff;
  font-size: 100%;
}

.p1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1000;
  -webkit-box-shadow: 10px 10px 100px #002fff, 10px 10px 100px #002fff, 10px 10px 100px #002fff;
          box-shadow: 10px 10px 100px #002fff, 10px 10px 100px #002fff, 10px 10px 100px #002fff;
  overflow: hidden;
}

.p21 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #ff0404a1;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: left;
  font-size: 5vw;
  color: #ff5100;
}

.p2 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #ff0404;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  font-size: 5vw;
  color: #ff5100;
}

.p2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1000;
  -webkit-box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
          box-shadow: 10px 10px 100px red, 10px 10px 100px red, 10px 10px 100px red;
  overflow: hidden;
}

.p3 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #3cff00;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #3cff00;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  font-size: 5vw;
}

.p3:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1000;
  -webkit-box-shadow: 10px 10px 100px #3cff00, 10px 10px 100px #3cff00, 10px 10px 100px #3cff00;
          box-shadow: 10px 10px 100px #3cff00, 10px 10px 100px #3cff00, 10px 10px 100px #3cff00;
  overflow: hidden;
}

.p31 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #3cff00;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #3cff00;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: left;
  font-size: 5vw;
}

.p4 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #00deee;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #0044ff;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  font-size: 5vw;
}

.p4:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1000;
  -webkit-box-shadow: 10px 10px 100px #0044ff, 10px 10px 100px #0044ff, 10px 10px 100px #0044ff;
          box-shadow: 10px 10px 100px #0044ff, 10px 10px 100px #0044ff, 10px 10px 100px #0044ff;
  overflow: hidden;
}

.p41 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #00deee;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #0044ff;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: left;
  font-size: 5vw;
}

.p5 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px white;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  font-size: 5vw;
}

.p5:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1000;
  -webkit-box-shadow: 10px 10px 100px white, 10px 10px 100px white, 10px 10px 100px white;
          box-shadow: 10px 10px 100px white, 10px 10px 100px white, 10px 10px 100px white;
  overflow: hidden;
}

.p51 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px white;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: left;
  font-size: 5vw;
}

.p6 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #fffb00;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #fffb00;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  font-size: 5vw;
}

.p6:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1000;
  -webkit-box-shadow: 10px 10px 100px #fffb00, 10px 10px 100px #fffb00, 10px 10px 100px #fffb00;
          box-shadow: 10px 10px 100px #fffb00, 10px 10px 100px #fffb00, 10px 10px 100px #fffb00;
  overflow: hidden;
}

.p61 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #fffb00;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #fffb00;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: left;
  font-size: 5vw;
}

.p7 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #d400ff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #d400ff;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  font-size: 5vw;
}

.p7:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  opacity: 1000;
  -webkit-box-shadow: 10px 10px 100px #d400ff, 10px 10px 100px #d400ff, 10px 10px 100px #d400ff;
          box-shadow: 10px 10px 100px #d400ff, 10px 10px 100px #d400ff, 10px 10px 100px #d400ff;
  overflow: hidden;
}

.p71 {
  font-size: 200%;
  border: 2px solid #303030;
  width: auto;
  color: #d400ff;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  margin-right: 2%;
  padding: 10px 10px 10px 10px;
  background-color: black;
  text-shadow: 10px 10px 10px #d400ff;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: left;
  font-size: 5vw;
}
/*# sourceMappingURL=p.css.map */