@import "mixins";
@import "menu";
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
}

// heading stuff
@import "heading";

table,
th,
td {
  border: 2px solid black;
  font-size: 40px;
  padding: 2px;
}

table#t01 tr:nth-child(even) {
  background-color: rgb(95, 6, 6);
}
table#t01 tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.863);
}
table#t01 th {
  color: rgb(0, 0, 0);
  background-color: black;
}

// Hamburger stuff
@import "hamb";

// NAV STUFF
@import "nav";

#page {
  display: flex;
  flex-wrap: wrap;
}

//  P stuff, like text and
@import "p";

// .image-with-caption {
//   position: relative;
// }

// Main stuff: Boxs that contain content and images and stuff
@import "main";

// IMAGES ---------------------------------------------
@import "images";
// IMAGES ---------------------------------------------

// Section stuff
@import "section";



















#footer {
  font-size: 1vw;
  font-style: bold;
  color: rgba(245, 245, 220, 0.068);
  background-color: rgb(58, 1, 1);
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-image: url(black.png);
}


#hover1 {
  transform: scale(1);
  opacity: 1;
  box-shadow: 10px 10px 100px rgb(51, 255, 0), 10px 10px 100px rgb(21, 255, 0), 10px 10px 100px rgb(43, 255, 0);
  // animation: rotation 3s infinite linear;
  overflow: hidden;
}



/* Mobile Styles (screen widths less than or equal to 400px) */

@media only screen and (max-width: 700px) {
  body {
    background-color: rgb(8, 1, 1);
  }
  header {
    font-size: 5vw;
  }

  #header1 {
        font-size: 100%;
  }
  #menuToggle {
    left: -44%;
    top: 11%;
  }
  .sign-up {
    order: 1;
  }
  #footer {
    font-size: 5vw;
  }

  // #img3 {
  //   width: auto;
  //   height: auto;
  //   margin: 0%;
  // }
  #img6bluecover, #img3, #img6yellowcover, #img7green, #img6whitecover, #img6purplecover  {
    width: 500%;
    height: 500%;
    margin: 0%;
  }
  .feature-1,
  .feature-2,
  .feature-3,
  .feature-4,
  .feature-5,
  .feature-6 {
    max-width: 100%;
    max-height: auto;
    order: 1;
  }
  .main4, .main6 {
    order: 0;
    width: 100%;
    height: 100%;
  }
  #img5, #img4, #img6, #img7, #img5yellow, #img4yellow, #img6yellow, #img7yellow, #img5green, #img4green, #img6green, #img7green, #img5blue, #img4blue, #img6blue, #img7blue, #img5purple, #img4purple, #img6purple, #img7purple, #img5white, #img4white, #img6white, #img7white {
    max-width: 100%;
    max-height: 100%;
    margin: 10%;
    position: relative;
  }
// #img5blue {
//  width: 25%; 
// }
// section {
//   width: 100%;
//   height: 100%;
// }

}
// works without Sass

/* Tablet style */
@media only screen and (min-width: 701px) and (max-width: 960px) {
  body {
    background-color: rgb(8, 0, 0);
  }
  section {
    width: 50%;
  }

  .sign-up {
    order: 1;
  }
  #menuToggle {
    left: -47%;
    top: 11%;
  }
  #footer {
    font-size: 5vw;
  }
  //  .sign-up {
  //   order:;
  #img3 {
    width: auto;
    margin: 5%;
  }
  .header1 {
    font-size: 380%;
}
.p2, .p3, .p4, .p41, .p5, .p6, .p61, .p7, .p71 {
  font-size: 125%;
}
#img1, #img2, #img3, #img4 {
  width: auto;
  height: auto;
}
#img6bluecover {
  width: 500%;
}
.main6 {
  width: 100%;
  height: auto;
}
}

/* desktop*/
@media only screen and (min-width: 961px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  header {
    height: 120px;
    font-size: 200%;
  }

  #menuToggle {
    left: -48.5%;
    top: 11%;
  }
  .feature-1,
  .feature-2,
  .feature-3,
  .feature-4,
  .feature-5,
  .feature-6 {
    width: 25%;
    order: 0;
  }
  .sign-up {
    order: 0;
  }
  .main1 {
    order: 0;
    width: 50%;
  }
  .main2 {
    order: 0;
    width: 50%;
  }
  .main4 {
    order: 0;
    width: 100%;
    height: 100%;
  }
  .header1, .header2, .header3, .header4, .header5, .header6 {
    font-size: 600%;
}
.p2, .p3, .p4, .p41, .p5, .p51, .p6, .p61, .p7, .p71 {
  font-size: 150%;
}
.img1, .img2, .img3, .img4 {
  width: 100%;
}
.main6 {
  width: 50%;
  height: auto;
}
}